<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <title>AdminWrap - Easy to Customize Bootstrap 4 Admin Template</title>
    <!-- Bootstrap Core CSS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/scss/_buttons.scss" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/scss/_reboot.scss" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/scss/_reboot.scss" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="~/assets/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="~/assets/node_modules/morrisjs/morris.css" rel="stylesheet">
    <!--c3 CSS -->
    <link href="~/assets/node_modules/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/style2.css" rel="stylesheet" />
    <link href="~/css/dashboard.css" rel="stylesheet" />
    <!-- Dashboard 1 Page CSS -->
    <link href="~/css/pages/dashboard1.css" rel="stylesheet" />
    <!--css color-->
    <link href="/css/colors/default.css" id="theme" rel="stylesheet">

</head>


@*<header>
    <nav class="navbar navbar-expand-md  navbar-default  bg-white border-none">
        <a class="navbar-brand logo-responsive" href="index.html">
          Merck
        </a>
        <button class="navbar-toggler float-left" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style=" position: initial; ">
            <span class="navbar-toggler-icon">
                <i class="fa fa-bars"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <span href="javascript:;"></span>
                </li>
            </ul>
            
        </div>
    </nav>
</header>*@
<section class="main-container">
    <aside class="main-sidebar side-bar">
        <a class=" navbar-brand logo-responsive ml-5" style="margin-left:10%">
            <img src="https://cgt.hataali.net/images/v2/logo.svg?v =HYx8loh6-rTC92sPxpkpHvu45ylx5I1m1BwFugLs7v8" />
        </a>
        <div class="vertical-menu" id="aside_menu">
            <a asp-controller="Home" asp-action="Index" id="Home" onclick="GetSelectedMenuId('Home')" class="sidebar-link">
                <span class="nav-container">
                    <span>Home</span>
                </span>
            </a>
            <a asp-controller="TreatmentEvent" id="Events" onclick="GetSelectedMenuId('Events')" asp-action="TreatmentListByDeviceSerialNumber" class="sidebar-link">
                <span class="nav-container">
                    <span> Treatment Events</span>
                </span>
            </a>
            <a asp-controller="User" asp-action="GetAllUser" id="Users" onclick="GetSelectedMenuId('Users')" class="sidebar-link">
                <span class="nav-container">
                    <span> Users</span>
                </span>
            </a>
            <a asp-controller="Role" asp-action="index" id="Roles" onclick="GetSelectedMenuId('Roles')" class="sidebar-link">
                <span class="nav-container">
                    <span> Roles</span>
                </span>
            </a> 
            <a asp-controller="Permission" asp-action="index" id="Permissions" onclick="GetSelectedMenuId('Permissions')" class="sidebar-link">
                <span class="nav-container">
                    <span> Permissions</span>
                </span>
            </a>
            <a asp-controller="Patient" asp-action="index" id="Patients" onclick="GetSelectedMenuId('Patients')" class="sidebar-link">
                <span class="nav-container">
                    <span> Patient List</span>
                </span>
            </a>
            
            @* <a asp-controller="TreatmentEvent" asp-action="index" class="sidebar-link">
                <span class="nav-container">
                    <span> Read File</span>
                </span>
            </a>
            <a href="/patients/Label" class="sidebar-link">
                <span class="nav-container">
                    <span>Patients</span>
                </span>
            </a>
            @* <a href="/chat" class="sidebar-link">
                <span class="nav-container">
                    <span>Chat</span>
                </span>
            </a>
            <a href="/admin" class="sidebar-link">
                <span class="nav-container">
                    <span>Adminstration</span>
                </span>
            </a>
            <a href="/User" class="sidebar-link">
                <span class="nav-container">
                    <span>Users </span>
                </span>
            </a>*@
            <a asp-controller="Auth" asp-action="Index" id="logout" class="sidebar-link logout">
                <span class="nav-container">
                    <span class="pl-3">Logout</span>
                </span>
            </a>
        </div>
    </aside>
    <div class="content-wrapper text-black">
        @RenderBody()   
            </div>
        </div>
    </div>
</section>
</html>
<script>
    function GetSelectedMenuId(id) {
        localStorage.setItem('selectedMenu', id);
    }
    window.onload = function () {
        if(localStorage.getItem("selectedMenu") === null)
        {
            localStorage.setItem('selectedMenu', 'Home');
        }
        var menVal = localStorage.getItem('selectedMenu');
        var myDiv = document.getElementById(menVal);
        myDiv.classList.add("active");
    }

</script>
<script src="/js/general.js" asp-append-version="true"></script>