

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid mt-63 kt-grid--hor p-0">

    <!-- begin:: Content -->
    <div class="kt-container container  kt-container--fluid  kt-grid__item kt-grid__item--fluid mt-63 manf_responsive_heading p-0">
        <div class="row">
            <div class="col-xl-12">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile table-container ">
                    <div class="table-search-header row">
                        <div class="col-md-6 col-12">
                            <h3 class="heading">Forbidden</h3>
                            <p>Sorry, you are not authorized to access this resource.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
