@model Merck.DTOS.Auth.AuthResponse
@{
    ViewData["Title"] = "View";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <article class="article">
        @{
            string roles = "";
            if (ViewBag.Users != null)
            {
                foreach (var item in ViewBag.Users.Roles)
                {
                    roles += item.Name;
                }
            }
        }
        <h1 class="heading"><strong>Welcome To @roles Portal</strong></h1>
    </article>
</body>
</html>



