@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@model Merck.DTOS.Auth.AuthResponse
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "View";
    string rolesJson = HttpContextAccessor.HttpContext.Session.GetString("roles");
    List<string> roles = JsonConvert.DeserializeObject<List<string>>(rolesJson);
    string concatenated = string.Join(",", roles);
}
    <div class="container mt-63">
    <h1 class="heading m-t-80 text-center"><strong>Welcome To @concatenated  Portal </strong></h1>
    </div>


