@model Merck.DTOS.Auth.AuthResponse
@{
    ViewData["Title"] = "View";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <article class="article">
        <h1 class="heading"><strong>Welcome To Admin Portal</strong></h1>
    </article>
   @* <div class="container-fluid">
        <div class="row content">
            <br>

            <div class="col-sm-9">
                <div class="col-xl-12 mb-xl-10  m-t-40">
                    <!--begin::Card-->
                    <div class="card">
                        <!--begin::Card body-->
                        <div class="card-body p-0">
                            <!--begin::Wrapper-->
                            <div class="card-px text-center py-20 my-10 display-5">
                                <!--begin::Title-->
                                <h2 class="fs-4x fw-bolder mb-10">*
                                <!--end::Title-->
                                <!--begin::Description-->
                                <!--end::Description-->

                           @* </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Card-->
                </div>
            </div>
        </div>
    </div>*@

</body>
</html>



