@model Permissions
@{
    ViewData["Title"] = "Permissions";
}


<div class="container mt-4 bg-white">
    <h2>Permissions Management</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <a class="btn " href="/permission/create">Create Permissions</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h2>Current Permissions</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            S#
                        </th>
                        <th>
                            Permissions
                        </th>
                        <th>
                            
                        </th>

                    </tr>
                </thead>
                <tbody>

                    @{
                        int i = 1;
                        foreach (var permission in ViewBag.Permissions)
                        {

                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    @permission.Name
                                </td>
                                <td>
                                   
                                </td>

                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
            
        </div>
    </div>
</div>