@{
    ViewData["Title"] = "Roles";
}


<div class="container mt-4 bg-white">
    <h1>Roles Management</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <a class="btn " href="/role/create">Create Role</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h2>Current Roles</h2>
            <ul class="list-group">
                <li class="list-group-item">Admin</li>
                <li class="list-group-item">Manager</li>
                <li class="list-group-item">Employee</li>
            </ul>
        </div>
    </div>
</div>