@model Roles
@{
    ViewData["Title"] = "Roles";
}


<div class="container mt-4 bg-white">
    <h2>Roles Management</h2>
    <div class="row mt-4">
        <div class="col-md-12">
            <h4><a class="btn" href="/role/create">Create Role</a></h4>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h2>Current Roles</h2>
            <table class="table">
                <thead>
                    <tr>
                        
                        <th>Roles</th>
                        <th>Permissions</th>
                    </tr>
                </thead>
                <tbody >
                    
                    @{
                        
                        foreach (var role in ViewBag.Roles)
                        {
                        
                            <tr>
                                
                                <td>@role.Name</td>
                                <td>
                                    @foreach (var permission in role.Permissions)
                                    {
                                        <span>@permission.Name |</span> 
                                    }
                                </td>
                            </tr>
                           
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>