@*@model Merck.Models.User
@{
    ViewData["Title"] = "Home Page";
}*@
@*<div class="text-center">
    <h1 class="display-4">welcome</h1>
    <p>learn about <a href="https://docs.microsoft.com/aspnet/core">building web apps with asp.net core</a>.</p>
</div>*@

<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" id="sign_in_form">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" id="userName" name="userName" placeholder="User name / Email">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" id="password" name="password" class="login__input" placeholder="Password">
				</div>
				<button class="button login__submit" id="submit" name="submit">
					<span class="button__text" >Log In</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
</div>
<script src="~/js/User/UserLogin.js" asp-append-version="true"></script>