@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@model Merck.DTOS.Auth.AuthResponse
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "View";
    string rolesJson = HttpContextAccessor.HttpContext.Session.GetString("roles");
    List<string> roles = null;
    string concatenated = "";
    if (rolesJson != null)
    {
        roles = JsonConvert.DeserializeObject<List<string>>(rolesJson);
        concatenated = string.Join(",", roles);
    }
}

<div class="container homePage">
    <article class="article">
        <h1 class="heading"><strong>Welcome To @concatenated  Portal</strong></h1>
    </article>
    <div class="row grey-card p-4 ">
        <div class=" col-12 col-md-5">
            <script src="https://cdnjs.com/libraries/Chart.js" type="text/javascript" crossorigin="anonymous"></script>
            <div class="white-card statistic_card    card-blue-hover horizontal-card col-12" style="height: 120px; ">
                <div class="white-card col-md-12 row  mt-2 statistics-text">
                    
                    @Html.DropDownList("Device", (SelectList)ViewBag.Devices, new{@class="form-control TreatmentDropdown float-right select2-hidden-accessible m-r", id="deviceDropDown", @onchange="onChangeDropDown(id)"})
                    
                    <div class="col-md-4">
                        
                        <canvas id="myChart" width="62" height="62" class="chartjs-render-monitor"></canvas>
                    </div>
                    <div>
                        <span class="line"></span>
                        <div id="totalTransmission" class="mt-30"></div>
                        <span id="TreatmentHeading">No Of Transmission</span>
                    </div>
                    <hr>
                    <div class="white-card stats_card">
                        <span class="inProcess"></span>
                        <div id="distributionPerCountry" class="distributionPerCountry-count" ></div>
                        <div class="distributionPerCountry-text">Distribution Per Country</div>
                    </div>
                    <div class="white-card stats_card">
                        <span class="booked"></span>
                        <div id="attacksBlocks" class="ml-25"></div>
                        <div>Overall No. Of Attacks Blocks</div>
                    </div>
                    <div class="white-card transmissionError-card">
                        <span class="spoilage"></span>
                        <div id="transmissionError" class="ml-25"></div>
                        <div>Transmission Error</div>
                    </div>
                </div>
            </div>

            <script type="module" src="/js/statistics/statistics.js?v=_kAYCs0w8x11_GjGfkXCpWk2Q40v5PnOXY-El1UeMMw"></script>

        </div>
        <div class="col-12 col-md-6 order1">
            <div class="white-card col-md-12 row statistics-text ">
                <div class="white-card col-md-12 row Hospital   statistics-text width-92">
                    <span>Country-wise Transmissions</span>
                </div>
                <div class="col-md-12">
                    <ul style="list-style: none;padding: 0;" id="treatmentList">
                        @foreach (var item in ViewBag.Country){
                            var imgName = @item.DeviceType + ".png";
                        <li class="liStyle">
                            <div>
                                <div class="float-left pr-5 treatmentCount width-15">@item.NoOfTransmission</div>
                                <div>
                                        <span class="mt-3 stats-img">
                                        <img src="../images/v2/@imgName" class="pr-5"> @item.DeviceType
                                    </span>
                                </div>
                            </div>

                        </li>
                        }
                        </ul>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-12 order1">
            <div class="white-card col-md-12 row statistics-text ">
                    <div class="col-md-12">
                    <div id="chart-container"></div>
                    </div>
                </div>
            </div>
        </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script>
    $('select').on('change', function () {
        // Do work
        onChangeDropDown($(this).val())
    });
    



        var distribution = null;
        var attacks = null;
        var tranmission = null;
     function onChangeDropDown(deviceId)
    {
        $.ajax({
            type:"GET",
            async: true,
            url: "/Home/GetStats",
            data:{deviceId : deviceId},
                    success: function (data) {
                    distribution = data.distribution;
                    attacks = data.overallAttacks;
                    tranmission = data.noOfTransmission;
                    transmissionError = data.transmissionError;
                    //console.log(data,"statsData");
                document.getElementById('totalTransmission').innerHTML = data.noOfTransmission;
                document.getElementById('transmissionError').innerHTML = data.transmissionError;
                document.getElementById('attacksBlocks').innerHTML = data.overallAttacks;
                document.getElementById('distributionPerCountry').innerHTML = data.distribution;
                var yValues = [distribution, attacks, transmissionError];
                var barColors = [
                    "#2255c2",
                    "#f4b71a",
                    "#fa6363",
                ];

                new Chart("myChart", {
                    type: "doughnut",
                    data: {
                        datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                        plugins: {
                            title: {
                                display: false,
                                showTooltips: false
                            }
                        },
                        hover: { mode: null },
                    }
                });
                    }
        });
    }
    var deviceSelect = document.getElementById("deviceDropDown");
    deviceSelect.options[0].selected = true;
    //console.log(deviceSelect.options[1].value,"dropdown default selected value");
    onChangeDropDown(deviceSelect.options[0].value);

    
</script>
<script>
    function onLoadStats() {
        $.ajax({
            type: "GET",
            async: true,
            url: "/Home/GetAllDevicesStats",
            success: function (data) {
                console.log(data[0])
                
                $(function () {
                    
                    var entity1Data = [data[0].distribution, data[0].overallAttacks, data[0].transmissionError]; // example data for entity 1
                    var entity2Data = [data[1].distribution, data[1].overallAttacks, data[1].transmissionError]; // example data for entity 2
                    var categories = ["Distribution", "Attacks", "Transmission Error"]; // example categories
                    console.log(entity1Data)
                    console.log(entity2Data)
                    console.log(categories)

                    new Chart("chart-container", {
                        type: "bar",
                        data: {
                            labels: categories,
                            datasets: [{
                                label: data[0].deviceType + "(" + data[0].noOfTransmission + ")",
                                backgroundColor: "green",
                                data: entity1Data
                            }, {
                                label: data[1].deviceType + "(" + data[1].noOfTransmission + ")",
                                backgroundColor: "blue",
                                data: entity2Data
                            }]
                        },
                        options: {
                            legend: { display: true },
                            title: {
                                display: true,
                                text: "EASYPOD2 vs EASYPOD3"
                            }
                        }
                    });

                    
                });
            }
        });
    }
    function toogleDataSeries(e) {
        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
            e.dataSeries.visible = false;
        } else {
            e.dataSeries.visible = true;
        }
        e.chart.render();
    }
    onLoadStats();
</script>
<script>
    var KTAppOptions = {
        "colors": {
            "state": {
                "brand": "#2c77f4",
                "light": "#ffffff",
                "dark": "#282a3c",
                "primary": "#5867dd",
                "success": "#34bfa3",
                "info": "#36a3f7",
                "warning": "#ffb822",
                "danger": "#fd3995"
            },
            "base": {
                "label": ["#a1a8c3", "#3d4465", "#3e4466"],
                "shape": ["#d9dffa", "#afb4d4", "#646c9a"]
            }
        }
    };

    const Messagess_text = {
        yes: 'Yes',
        no: 'No',
    }
</script>
<style>
    .homePage .white-card img {
        padding: 0px;
        border-radius: 1px;
    }

    .statistics .liStyle {
        width: 100%;
    }
    .homePage .white-card li {
        width: 100%;
        height: 86px;
        border: 0.6px solid #e2e2e2;
        box-sizing: border-box;
        border-radius: 28px;
        padding: 22px;
        margin: 10px;
    }

    .homePage .treatmentCount {
        padding: 12px;
        margin-top: -8px;
        background: #e9f3ff;
        border-radius: 18px;
        text-align: end;
        width: 78px;
        height: 54px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
    }

    
</style>
